body {
    background-color:white;
}

#container{
    margin-left:auto;
    margin-right:auto;
    width: 800px;
}

#header{
    background-color: #e00700;
    color:white;
    text-align:center;
}

.mypage {
    background-color: green;
}