@page
@model EditPublicationModel
@{
}

<h2>Editing Publication Number: @Model.Publication.Id, made by @Model.Publication.NickName</h2>

<form method="post" id="bg">
    <div>
        <input asp-for="Publication.Id" type="hidden" />
    </div>
    <label>NickName:</label>
    <div id="nickname">
        <input asp-for="Publication.NickName">
    </div>

    <label>Title:</label>
    <div id="title">
        <input asp-for="Publication.Title">
    </div>

    <label>Tell us your story:</label>
    <div id="story">
        <input id="story" asp-for="Publication.Story">
    </div>

    <div id="validations" asp-validation-summary="All"></div>

    <div id="submit">
        <input type="submit">
    </div>
</form>

<style>
    input[type="text"] {
        width: 800px;
    }
    #header {
        text-align: center;
    }

</style>