@page
@model EditPublicationModel
@{
}

<h2>Editing Publication Number: @Model.Publication.Id, made by @Model.Publication.NickName</h2>

<form method="post">
    <div>
        <input asp-for="Publication.Id" type="hidden" />
    </div>
    <div id="nickname">
        NickName: <input asp-for="Publication.NickName">
    </div>

    <div id="title">
        Title: <input asp-for="Publication.Title">
    </div>

    <div id="story">
        <div id="title">Tell us your story:</div>
        <div id="text">
            <input asp-for="Publication.Story">
        </div>
    </div>

    <div id="validations" asp-validation-summary="All"></div>

    <div id="submit">
        <input type="submit">
    </div>
</form>